@font-face {
	font-family: 'GeorgeRoundedSemiboldItalic';
	src: url('../fonts/GeorgeRoundedSemiboldItalic.eot');
    src: url('../fonts/GeorgeRoundedSemiboldItalic.woff') format('woff'), 
    url('../fonts/GeorgeRoundedSemiboldItalic.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedSemiboldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedSemibold';
	src: url('../fonts/GeorgeRoundedSemibold.eot');
    src: url('../fonts/GeorgeRoundedSemibold.woff') format('woff'), 
    url('../fonts/GeorgeRoundedSemibold.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedSemibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedRegular';
	src: url('../fonts/GeorgeRoundedRegular.eot');
    src: url('../fonts/GeorgeRoundedRegular.woff') format('woff'), 
    url('../fonts/GeorgeRoundedRegular.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedLight';
	src: url('../fonts/GeorgeRoundedLight.eot');
    src: url('../fonts/GeorgeRoundedLight.woff') format('woff'), 
    url('../fonts/GeorgeRoundedLight.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedItalic';
	src: url('../fonts/GeorgeRoundedItalic.eot');
    src: url('../fonts/GeorgeRoundedItalic.woff') format('woff'), 
    url('../fonts/GeorgeRoundedItalic.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedBoldItalic';
	src: url('../fonts/GeorgeRoundedBoldItalic.eot');
    src: url('../fonts/GeorgeRoundedBoldItalic.woff') format('woff'), 
    url('../fonts/GeorgeRoundedBoldItalic.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedBoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgeRoundedBold';
	src: url('../fonts/GeorgeRoundedBold.eot');
    src: url('../fonts/GeorgeRoundedBold.woff') format('woff'), 
    url('../fonts/GeorgeRoundedBold.ttf') format('truetype'), 
    url('../fonts/GeorgeRoundedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: url('../fonts//AvenirNextLTPro-Regular.woff') format('woff'), 
    url('../fonts//AvenirNextLTPro-Regular.ttf') format('truetype'), 
    url('../fonts//AvenirNextLTPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('../fonts/AvenirNextLTPro-Demi.eot');
    src: url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), 
    url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype'), 
    url('../fonts/AvenirNextLTPro-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


a
{
    cursor: pointer;
}

.form-control
{
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
}

.c-white {
    color: 
    #fff !important;
}

.c-main {
    color:#f55d3b !important;
}

.c-black {
    color: #1c1c1c !important;
}

.brandname .logo {
    font-size: 26px;
    font-family: 'GeorgeRoundedSemibold';
}

.IconsSheet
{
background-image: url('../images/allIcons.png');
background-size: 100%;
}


.btn-primary
{
background: #f0603a;
border: 0;
border-radius: 0;
}

.btn-primary:hover{
    background:rgba(240,96,58,.25);
}


.form-control:focus
{
    border: solid 1px #f0603a;
    box-shadow:0 0 0 .2rem rgba(240,96,58,.25);
}

body
{
    font-family: 'AvenirNextLTPro-Regular';
}

#header {
    padding: 30px 0 0 0;
}

.headerBannerText h1 {
    color: #fff;
    text-align: left;
    font-size: 60px;
    font-family: 'GeorgeRoundedSemibold';
}

.brandname {
    text-align: left;
    padding: 20px 0;
}

.navigation {
float: right;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    display: flex;
    font-size: 18px;
    width: 100px;
    padding: 10px 0;
}

.navigation ul li.active {
    background: #f55d3b;
}

.navigation ul li:hover{
    background: #f55d3b;
}

.navigation ul li.active a, .navigation ul li:hover a {
    color: #fff;
}

.navigation ul li a {
    width: 100%;
    color: #fff;
}

#MainPage
{
    background: url('../images/landingPageBgmin.jpg') no-repeat;
    min-height: 100vh;
    height: 100vh;
    background-size:100%;
    position: relative;
}

#Disover 
{
    background: url('../images/disocverBannemin.jpg') no-repeat;
    min-height: 100vh;
    height: 100vh;
    background-size:100%;
    position: relative;
}

#explore 
{
    background: url('../images/exploreBannermin.jpg') no-repeat;
    min-height: 100vh;
    height: 100vh;
    background-size:100%;
    position: relative;
}

#experience
{
    background: url('../images/experiencePageBgmin.jpg') no-repeat;
    min-height: 100vh;
    height: 100vh;
    background-size:100%;
    position: relative;
}

#newTalent
{
    background: url('../images/newTalentPageBg-min.jpg') no-repeat;
    min-height: 100vh;
    height: 100vh;
    background-size:100%;
    position: relative;
}

.headerBannerText {
    margin: 10px 0;
    position: relative;
    
}

.headerBannerText a {
    float: left;
}

.headerBannerText .btn.btn-primary {
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    margin: 14px 0;
}

.headerBannerText .btn.btn-primary:hover
{
opacity: 0.5;
background:#f55d3b;
}

.headerBannerText p {
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin: 15px 0 0 0;
    font-family: 'GeorgeRoundedRegular';
}

.headerBannerText h2 {
    text-align: left;
    color: #fff;
    font-size: 30px;
}

#MainPage .headerBannerText h1 {
    font-size: 50px;
    font-family: 'GeorgeRoundedSemibold';
}

.ServicingAgent {
    display: inline-block;
    width: 100%;
    margin: 15px 0 0 0;
}

.ServicingAgent .text {
    float:left ;
}

.ServicingAgent .inputBoxSlider {
    float: left;
    width: 65%;
    margin: 38px 0 0 15px;
}

.ServicingAgent .inputBoxSlider .form-control 
{
    background: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 28px;
}

.SliderNavigation {
    background: #fff;
    position: fixed;
bottom: 30px;
width: 80%;
}

.SliderNavigation ul{
    padding: 0;
    display: flex;
    margin: 0;
}

.SliderNavigation ul li {
    display:flex;
    width: 100%;
    padding: 10px 0;
}

.SliderNavigation ul li:hover
{
    background: #000;
}


.SliderNavigation ul li .earnIcons {
    height: 50px;
    width: 50px;
    background-size: 550px;
    display: inline-block;
    background-position: -2px 0;
}

.SliderNavigation ul li:hover .earnIcons
{
    background-position: -56px 0;
}

.SliderNavigation ul li .discover
{
    height: 50px;
    width: 50px;
    background-size: 550px;
    display: inline-block;
    background-position: -114px 0;
}

.SliderNavigation ul li:hover .discover
{
    background-position: -168px 0;
}


.SliderNavigation ul li .explore 
{
    height: 50px;
    width: 50px;
    background-size: 550px;
    display: inline-block;
    background-position: -223px 0;
}

.SliderNavigation ul li:hover .explore 
{
    background-position: -276px 0;
}

.SliderNavigation ul li .experience  
{
    height: 50px;
    width: 50px;
    background-size: 550px;
    display: inline-block;
    background-position: -332px 0;
}

.SliderNavigation ul li:hover .experience 
{
    background-position: -388px 0;
}

.SliderNavigation ul li .new  
{
    height: 50px;
    width: 50px;
    background-size: 550px;
    display: inline-block;
    background-position: -443px 0;
}

.SliderNavigation ul li:hover .new 
{
    background-position: -498px 0;
}



.SliderNavigation ul li:hover a p
{
    color: #f55d3b;
}

.SliderNavigation ul li a{
    width: 100%;
    font-family: 'GeorgeRoundedSemibold';
}

.SliderNavigation ul li a p {
    color:#000;
    width: 100%;
    text-align: center;
    margin: 0;
}



/* Login/Signup Page */

.loginPageLogo {
    margin: 50px 0 0;
}

.row.loginArea {
    margin: 50px 0 0;
    width: 100%;
}

.row.loginArea h1 {
    text-align: center;
}

.row.loginArea p {
    font-size: 18px;
    font-family: 'GeorgeRoundedLight';
}

.row.loginArea .btn-primary {
 width: 70%;
font-size: 20px;
margin: 20px 0;
}

.loginPageLogo .forgotPassword.text-center a {
    color: #ccc;
}

.loginPageLogo .logo-header a img {
    width: 5%;
    display: inline-block;
}

.loginPageLogo .logo-header.mx-auto {
    font-size: 45px;
    font-family: 'GeorgeRoundedSemibold';
    
}

/* .loginPageLogo .logo-header.mx-auto span a{
    font-family: 'AvenirNextLTPro-Regular';
} */




.sign-form .fb-login {
    background-color: 
    #4867aa;
}

.text-center.fb-login.f-main-b.btn.btn-secondary {
    border-radius: 0;
    width: 240px;
    margin: 0 auto;
    background-color: #4867aa;
    font-size: 18px;
    margin: 30px 0 0 0;
}

.row.loginArea .chooseOption 
{
    font-size: 40px;
    line-height: 1.2;
    margin: auto;
    font-family: 'GeorgeRoundedSemibold';
}

.divider {
    display: flex;
    align-items: center;
}

.sign-form .w-sec {
    width: 240px;
}

.divider .line {
    height: 1px;
    flex: 1 1;
    background-color: #e0e0e0;
}

.divider span {
    margin-left: 15px;
    margin-right: 15px;
}

.row.loginArea .w-sec {
    width: 240px;
}

.row.loginArea input:not([type="checkbox"]) {
    min-height: 42px;
    font-family: 'AvenirNextLTPro-Regular';
}

input.form-control, select.form-control {
    height: 46px !important;
}

.bgc-main {
    background-color: 
    #f55d3b;
}


.row.loginArea .w-third {
    width: 180px;
}

#Login .btn {
    font-size: 20px;
}

.c-gray {
    color: #a1a1a1 !important;
}

.copyright.row {
    font-family: 'GeorgeRoundedLight';
    margin: 25px 0 0 0;
}


.back-header.justify-content-center {
    border-bottom: solid 1px #ccc;
    padding: 0 0 15px 0px;
    margin: 0 0 15px 0;
}

#Singup .back-header span {
    font-size: 20px;
}

#Singup .back-header .back {
    float: left;
    width: 35px;
    margin: 12px 0 0 0;
}

#Singup .back-header .back a img {
    width: 70%;
}

#Singup .back-header .f-main-b
{
    font-size:20px;
    font-family: 'AvenirNextLTPro-Demi';
    
    
}


.UploadUserAvtar.rounded-circle.mr-2 {
width: 68px;
height: 68px;
background-color:rgb(238, 238, 238);
object-fit: cover;
}

.ModePage .userProfile {

    height: 120px;
    width: 120px;
    overflow: hidden;
    border: solid 10px #f55d3b;
    border-radius: 100px;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    top: -55px;
}

.ModePage .userProfile img{
    width: 170%;
}

.ModePage .mode-container {
    background: 
    #fff;
    width: 340px;
    margin: 70px 0 50px 0;
}

.row.DashboardSettingOption {
    position: relative;
    top: -110px;
    margin: 0 0 0 0;
}

.row.DashboardSettingOption .options {
    width: 48px
}

.row.DashboardSettingOption .navigation.options {
    float: left;
}

.row.DashboardSettingOption .setting{
    float: right;
}

.row.DashboardSettingOption .options img {
width: 100%;
}

.mode-container .mode .mode-title {
    font-size: 50px;
}

.mode-container .f-sec-b {
    font-family: 'GeorgeRoundedBold';
}

.WorkdMode.mode.text-center.mt-2 {
    position: relative;
    top: -80px;
    padding: 0 30px;
}

.HireMode.mode.text-center.mt-4 {
    position: relative;
    top: -65px;
    padding: 0 30px;
}

.WhatLooking.c-white.text-center {
    padding: 35px 0 0;
    font-size: 20px;
}

/* End login/Signup Page */

/* worker dashboard css start */

.sub-page.with-header .header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid 
    #d6d6d6;
    padding: 0 10px;
    text-align: center;
}

.workersetting.header.with-back .pageHeader {
    border-bottom: solid 1px 
    #ccc;
}

.workersetting.header.with-back .pageHeader .back {
    float: left;
    width: 5%;
    padding: 10px;
}

.workersetting.header.with-back .pageHeader .back img
{
    width: 100%;
}


.workersetting.header.with-back .page-title {
    font-size: 20px;
    font-weight: 600;
    width: 95%;
    float: left;
    padding: 12px 0;
}


.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
	margin: 50vh auto 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 200px;
	min-width: 200px;
	height: 200px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/* Switch 1 Specific Styles Start */

.box_1{
	background: #eee;
}

input[type="checkbox"].switch_1{
	font-size: 16px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #f55c3b;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }

  /* Switch 1 Specific Style End */
  

  .workersetting.header.with-back {
    float: left;
    width: 92%;
}

  .serviceagentsettings.col-md-6 {
    margin: 30px 0;
}

  .workersetting.header.with-back .serviceagentsettings .showprofilehiring {
    border: solid 1px #ccc;
    border-radius: 100px;
    padding: 10px 15px;
}

.workersetting.header.with-back .serviceagentsettings .card-body .showprofilehiring {
    margin: 0 0 10px 0;
    padding: 5px 10px;
}

.workersetting.header.with-back .serviceagentsettings .accordion > .card {
    overflow: hidden;
    border: none;
}

.workersetting.header.with-back .serviceagentsettings .accordion > .card > .card-header
{
    border: none;
    text-align: left;
    background-size:5% ;
background-color: #fff;
position: relative;
}

.panel-header {
    font-size: 18px;
    font-weight: 600;
}

.panel-desc {
    color: 
    #a1a1a1;
    font-size: 14px;
    text-align: left;
}

.closearrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    position: absolute;
    right: 0;
}


.closearrow span:first-of-type {
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.closearrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: 
    #000;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.closearrow span:last-of-type {
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.closearrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #000;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.closearrow.active span:first-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.closearrow.active span:last-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sideBar {
    width: 8%;
    float: left;
    border-left: solid 1px#ccc;
    height: 768px;
    overflow: hidden;
    text-align: center;
}

.user-menu.row {
border-radius: 120px;
overflow: hidden;
height: 65px;
width: 65px;
margin: 0 auto;
}

.jobInQues.row {
    width: 65%;
    margin: 30px auto;
}

.calendar-wrapper.row {
    width: 65%;
    margin: 30px auto;
}

.conversations {
    margin: 0;
    padding: 0;
}

.conversations .conversationsList ul
{
margin: 0;
padding: 0;
}

.conversations .conversationsList ul li
{
    height: 60px;
    width: 60px;
    border-radius: 120px;
    overflow: hidden;
    display: inline-block;
}

.conversations .conversationsList ul li a {
    display: inline-block;
}


.conversations .conversationsList ul li img
{
    width: 100%;
}

.job-list .job-item a{
color: #000;
}

.job-thumbnail img{
    width: 100%;
}

.job-item .job-info {
    padding: 20px 5px;
    text-align: left;
}

.job-item .type-date {
    font-size: 12px;
}

.job-item .job-title {
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    margin-top: 4px;
    color: #000;
    
}

.job-item .job-address {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.job-item .job-price {
    margin-top: 6px;
    margin-bottom: 4px;
    color: #000;
}

.job-item .job-owner {
    font-weight: 400;
    color: #888;
    font-size: 12px;
    color: #000;
}

.job-detail {
    text-align: left;
    margin: 25px 0 0 0;
}

.job-page .type-date {
    color: 
    #949494;
    font-size: 15px;
    font-weight: 600;
}

.job-page .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'GeorgeRoundedSemibold';
}

.job-page .address {
    font-size: 16px;
    font-weight: 600;
}

.job-page .agent {
    margin: 20px 0 25px;
    display: flex;
}

.agent img {
width: 15%;
margin: 0 15px 0px 0;
border-radius: 100px;
height: 70px;
width: 70px;
}

.job-page .agent .info .type {
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'GeorgeRoundedSemibold';
}

.job-page .agent .info .name {
    font-size: 16px;
    font-family: 'GeorgeRoundedSemibold';
}

.description {
    text-align: left;
}

.job-page .agent .info {
    width: 40%;
}

.job-page .agent .info .type {
    font-size: 14px;
}

.description label {
    font-family: 'GeorgeRoundedSemibold';
}

.Jobpostcover img{
    width: 100%;
}

/* end worker css */